<header class=" border-b border-gray-200 bg-gray-50">
  <div class="mx-auto container px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <div class="flex flex-col items-start gap-4 md:flex-row md:items-center md:justify-between">
      <div>
        <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">Alpha</h1>

        <p class="mt-1.5 text-sm text-gray-500">
          Per project
        </p>
      </div>

      <div class="flex items-center gap-4 text-sm font-medium">
        <% if user_signed_in? %>
          <%= link_to 'Tasks', tasks_path, class: 'inline-block rounded bg-indigo-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring' %>
          <%= button_to 'Log out', destroy_user_session_path, method: :delete,
                      class: 'inline-flex items-center justify-center gap-1.5 rounded border border-gray-200 bg-white px-5 py-3 text-gray-900 transition hover:text-gray-700 focus:outline-none focus:ring' %>
        <% else %>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'inline-flex items-center justify-center gap-1.5 rounded border border-gray-200 bg-white px-5 py-3 text-gray-900 transition hover:text-gray-700 focus:outline-none focus:ring' %>
          <%= link_to 'Log In', new_user_session_path, class: 'inline-block rounded bg-indigo-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring' %>
        <% end %>
      </div>
    </div>
  </div>
</header>
